// @font-face {
//   font-family: "custom" !important;
//   src: url("../../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
//     url("../../fonts/woff/IRANSansWeb_Medium.woff") format("woff"),
//     url("../../fonts/fa-solid-900.woff") format("woff"),
//     url("../../fonts/star.woff") format("woff"),
//     url("../../fonts/Pe-icon-7-stroke.eot") format("eot"),
//     url("../../fonts/Pe-icon-7-stroke.ttf") format("ttf"),
//     url("../../fonts/star.svg") format("svg"),
//     url("../../fonts/Pe-icon-7-stroke.woff") format("woff");
// }

@font-face {
  font-family: "Pe-icon-7-stroke";
  src: url("../../fonts/Pe-icon-7-stroke.eot") format("eot");
  src: url("../../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v")
      format("embedded-opentype"),
    url("../../fonts/Pe-icon-7-stroke.woff") format("woff"),
    url("../../fonts/Pe-icon-7-stroke.ttf") format("truetype"),
    url("../../fonts/Pe-icon-7-stroke.svg#Pe-icon-7-stroke") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="pe-7s-"],
[class*=" pe-7s-"] {
  display: inline-block;
  font-family: "Pe-icon-7-stroke";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  direction: rtl !important;
  font-family: "Pe-icon-7-stroke", "Helvetica", Arial, sans-serif !important;
}
.closed-sidebar.fixed-sidebar .app-main__outer {
  padding-left: 0 !important;
}
.fixed-sidebar .app-main .app-main__outer {
  z-index: 9 !important;
  padding: 3% !important;
}
.fixed-sidebar .app-sidebar {
  position: inherit !important;
  height: 100vh !important;
}
.app-sidebar__heading {
  text-align: justify !important;
}
.vertical-nav-menu li a.mm-active {
  text-align: justify !important;
}
.vertical-nav-menu li a {
  text-align: justify !important;
}
.dropdown-menu.dropdown-menu-right {
  right: 0 !important;
  position: absolute !important;
  will-change: transform !important;
  top: 0px !important;
  left: 0px !important;
  transform: translate3d(-48px, 44px, 0px) !important;
}
.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
  text-transform: uppercase !important;
  padding: 4px 0px !important;
  display: block !important;
  font-size: 18px !important;
  text-align: center !important;
  font-weight: 400 !important;
  line-height: 30px !important;
}
.widget-content .widget-content-right {
  margin-right: auto !important;
}

.title {
  float: right !important;
}
label {
  float: right !important;
}
.f-r {
  float: right !important;
}
.text-center {
  text-align: center !important;
}
tr {
  text-align: center !important;
}
th {
  text-align: center !important;
}
.btn {
  margin: 2px !important;
}

.app-header {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
}
.widget-content .widget-content-left .widget-heading {
  color: white !important;
}

.app-sidebar {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%) !important;
}
.app-sidebar__heading {
  font-size: 16px !important;
}

.vertical-nav-menu li a {
  color: white !important;
}

.vertical-nav-menu li a.mm-active {
  color: rgb(27, 27, 27) !important;
  background: #e0f3ff;
  font-weight: bold;
}
.vertical-nav-menu li a:hover {
  color: black !important;
}
.fixed-header .app-header {
  position: inherit !important;
}
