/* FONTS */
@import url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css");
@font-face {
  font-family: Vazir;
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff2") format("woff2"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.woff2") format("woff2"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.woff2") format("woff2"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Vazir;
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.woff2") format("woff2"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Vazir;
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.woff2") format("woff2"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Vazir;
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.eot");
  src: url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.woff2") format("woff2"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.woff") format("woff"), url("https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Vazir", sans-serif !important;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #1c77c3;
  border-radius: 100px;
}

select {
  width: 100% !important;
  border: 1px solid #2c2e33 !important;
  height: calc(2.25rem + 10px) !important;
  font-weight: normal !important;
  font-size: 0.875rem !important;
  padding: 0.625rem 0.6875rem !important;
  background-color: #2A3038 !important;
  border-radius: 2px !important;
  color: #ffffff !important;
}

@media screen and (max-width: 991px) {
  .sidebar-offcanvas::-webkit-scrollbar {
    width: 3px;
  }
  .sidebar-offcanvas::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
  }
  .sidebar-offcanvas::-webkit-scrollbar-thumb {
    background-color: #1c77c3;
    border-radius: 100px;
  }
}

.card {
  border-radius: 2.25rem !important;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem !important;
}

.justify-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  background-color: #191c24 !important;
}

.dataTables_wrapper label {
  font-size: 0.8125rem;
  color: white !important;
}

.dataTables_wrapper .dataTable thead .sorting:after,
.dataTables_wrapper .dataTable thead .sorting_asc:after,
.dataTables_wrapper .dataTable thead .sorting_desc:after,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:after,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:after {
  content: "" !important;
  right: 0.2em;
}

.dataTables_wrapper .dataTable thead .sorting:before,
.dataTables_wrapper .dataTable thead .sorting_asc:before,
.dataTables_wrapper .dataTable thead .sorting_desc:before,
.dataTables_wrapper .dataTable thead .sorting_asc_disabled:before,
.dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
  content: "" !important;
  right: 1.2em;
}

.dataTables_wrapper .dataTable .btn,
.dataTables_wrapper .dataTable .fc button,
.fc .dataTables_wrapper .dataTable button,
.dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload,
.ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload,
.dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled,
.swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled,
.dataTables_wrapper .dataTable .wizard > .actions a,
.wizard > .actions .dataTables_wrapper .dataTable a {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
  padding: 10px !important;
}

.thumbnail {
  height: 100px;
  margin: 10px;
}

.form-group label {
  float: right !important;
  padding-top: 18px !important;
  margin-bottom: 16px !important;
}

.title {
  float: right !important;
  margin-bottom: 28px !important;
}

table.dataTable thead .sorting {
  text-align: center !important;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  text-align: center !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: white !important;
}

table.dataTable thead th,
table.dataTable thead td {
  text-align: center !important;
}

.dataTables_wrapper .dataTables_filter input {
  color: white !important;
}

.dt-buttons .buttons-excel {
  border-color: #1c77c3 !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  text-align: center !important;
}

.card .card-title {
  float: right !important;
}

.form-control:focus,
.asColorPicker-input:focus,
.dataTables_wrapper select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select:focus,
.jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type="number"],
.select2-container--default .select2-selection--single:focus,
.select2-container--default
.select2-selection--single
.select2-search__field:focus,
.typeahead:focus,
.tt-query:focus,
.tt-hint:focus {
  color: white !important;
}

.dt-buttons {
  float: left !important;
  position: inherit !important;
  margin-left: 0px !important;
  margin-top: 12px !important;
}

@media screen and (max-width: 640px) {
  div.dt-buttons {
    float: left !important;
  }
}

.form-control:disabled,
.asColorPicker-input:disabled,
.dataTables_wrapper select:disabled,
.jsgrid .jsgrid-table .jsgrid-filter-row input:disabled[type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select:disabled,
.jsgrid .jsgrid-table .jsgrid-filter-row input:disabled[type="number"],
.select2-container--default .select2-selection--single:disabled,
.select2-container--default
.select2-selection--single
.select2-search__field:disabled,
.typeahead:disabled,
.tt-query:disabled,
.tt-hint:disabled,
.form-control[readonly],
.asColorPicker-input[readonly],
.dataTables_wrapper select[readonly],
.jsgrid .jsgrid-table .jsgrid-filter-row input[readonly][type="text"],
.jsgrid .jsgrid-table .jsgrid-filter-row select[readonly],
.jsgrid .jsgrid-table .jsgrid-filter-row input[readonly][type="number"],
.select2-container--default .select2-selection--single[readonly],
.select2-container--default
.select2-selection--single
.select2-search__field[readonly],
.typeahead[readonly],
.tt-query[readonly],
.tt-hint[readonly] {
  color: black !important;
}

.btn:not(:disabled):not(.disabled),
.fc button:not(:disabled):not(.disabled),
.ajax-upload-dragdrop .ajax-file-upload:not(:disabled):not(.disabled),
.swal2-modal .swal2-buttonswrapper .swal2-styled:not(:disabled):not(.disabled),
.wizard > .actions a:not(:disabled):not(.disabled) {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.btn-info {
  color: #fff;
  background-color: #0056b3 !important;
  border-color: #035fc2 !important;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini img {
  width: 100px !important;
  /* max-width: 100%; */
  height: 50px !important;
  /* margin: auto; */
  margin-right: 16px !important;
}

@media (max-width: 480px) {
  .navbar .navbar-brand-wrapper {
    width: 100px !important;
  }
}

#profile-dropdown {
  font-size: 20px !important;
  margin-right: 6px !important;
  margin-top: 6px !important;
}

.sidebar .nav .nav-item .menu-icon {
  font-size: 18px !important;
}

.navbar .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
  font-size: 1.875rem !important;
}

.sidebar .nav .nav-item.profile .profile-desc .profile-name span {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 0.9375rem;
  line-height: 21px !important;
  vertical-align: middle;
}

.sidebar .nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: unset !important;
  padding: 0.8rem 10px 0.8rem 1.188rem;
  color: #6c7293;
  -webkit-transition-duration: 0.45s;
  transition-duration: 0.45s;
  transition-property: color;
  -webkit-transition-property: color;
  height: 46px;
  border-radius: 0px 100px 100px 0px;
  text-align: justify !important;
}

.limit {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
  margin-left: auto;
}

.dataTables_wrapper::-webkit-scrollbar {
  width: 6px;
}

.dataTables_wrapper::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.dataTables_wrapper::-webkit-scrollbar-thumb {
  background-color: #1c77c3;
  border-radius: 100px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: white !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.brand-nav-logo {
  width: 50px !important;
}

.navbar {
  font-weight: normal;
  background: #191c24;
  left: 0 !important;
  transition: left 0.25s ease;
  -webkit-transition: left 0.25s ease;
  -moz-transition: left 0.25s ease;
  -ms-transition: left 0.25s ease;
}

th {
  text-align: center !important;
}

@media (min-width: 992px) {
  .sidebar-icon-only .navbar {
    left: 0px !important;
  }
}

.fullscreen {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  padding-left: 2% !important;
}

.btn-icon {
  font-size: 18px;
  padding-top: 4px !important;
}

.divider {
  font-size: 24px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00d25b;
}

.card-header {
  padding-left: 23px !important;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -5;
  opacity: 0.3;
}

.m-auto-cus {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.btn:not(:disabled):not(.disabled),
.fc button:not(:disabled):not(.disabled),
.ajax-upload-dragdrop .ajax-file-upload:not(:disabled):not(.disabled),
.swal2-modal .swal2-buttonswrapper .swal2-styled:not(:disabled):not(.disabled),
.wizard > .actions a:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-brand {
  padding-right: 61px !important;
}

#demo {
  direction: rtl;
  text-align: center;
  margin: 2em 0;
}

.auth.login-bg {
  background: url(../images/auth/Login_bg.jpg);
  background-size: cover;
}

.imgSlider {
  width: 100px !important;
  height: 100px !important;
}

.img-user-profile-comment {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.text-comment {
  border-radius: 8px;
  border: 3px dashed #8989cd !important;
  min-height: 150px;
}
/*# sourceMappingURL=custome.css.map */